<head>
	<link rel="stylesheet" type="text/css" href="homepage.css" />
</head>
.navigation {
	background-color:#006e6b;
}

.music {
	color: white;
	list-style-type: none;
}

.teacher {
	color: white;
	list-style-type: none;
}

.school {
	color: white;
	list-style-type:none;
}

#content {
	font-family: cursive;
}

.login {
	float: right;
	padding: 5px 5px;
	list-style-type: none;
}

.name{
	float: left;
	font-family: cursive;
	padding: 5px 5px;
}

#footer {
	background-color:#006e6b;
	position relative;
	bottom: 0px;
}

.fLink {
	color: white;
	list-style-type: none;
}
