<head>
	<link rel="stylesheet" type="text/css" href="homepage.css" />
</head>
ul.navigation {
	background-color:#006e6b;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

ul.navigation li {
	background-color: #006e6b;
	float: left;
	list-style-type: none;
}

ul.navigation li a {
	display: inline-block;
	color: white;
	text-align: center;
	padding: 15px 17px;
	list-style-type: none;
}

#content {
	font-family: cursive;
	float: center;
	padding: 50px 50px;
	margin: 10px 10px;
}

.login {
	float: right;
	padding: 10px 10px;
	list-style-type: none;
}

.name{
	float: left;
	font-family: cursive;
	padding: 5px 5px;
}

#footer {
	background-color:#006e6b;
	position: relative;
	bottom: 0px;
}

.fLink {
	color: white;
	list-style-type: none;
}
