#message {
        color: red;
}

h2 {
        margin-left: 115px;
        padding-top: 5px;
        font-family: "Kaushan Script";
        color: #006e6b;
}

#loginBox {
        margin-left: 535px;
        margin-top: 210px;
        width: 310px;
        height: 155px;
        background-color: #C4C4C4;
}

label {
        color: #660033;
        font-weight: bold;
        margin-left: 20px;
}

label.email {
        margin-right: 27px;
}

.emailTxt {
        margin-bottom: 10px;
}

#button {
        margin-left: 130px;
        margin-top: 15px;
}
